.header {
  border-bottom: 1px solid var(--badges);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--badges);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
